<article class="pure-control-group">
      <p>Activity: {{activity}}</p>
      <p>Distance: {{distance}}</p>
      <p>Calories Intake: {{calories_intake}}</p>
      <p>Calories Burned: {{calories_burned}}</p>
      <p>Water: {{water}}</p>
</article>